@Model RAMMemory
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="img-pc" src="~/img/RAMAVA.jpg" style="width:100%;" />
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>@Model.RmemoryCategory</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="rectr" id="d2"></div>
<div class="row mt-5 mb-2">

    @{
        foreach (RAMMemory ram in Model.allRmemory)
        {

            <div id="box1" class="box" style="width: 300px">
                <img id="imagen" class="displayed" src="@ram.img" style="max-width:200px; display:block; margin: 0px auto" />
                <h4>@Model.RmemoryCategory</h4>
                <h5>Тип пам'яті: @ram.type SDRAM</h5>
                <h5>Обсяг пам'яті:  @ram.memory GB</h5>
                <h5>Частота пам'яті:  @ram.frequency Ггц</h5>
                <p><a class="btn btn-warning" href="#">Добавити</a></p>
            </div>

        }

    }
</div>