@Model Cooling
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="img-pc" src="~/img/CoollingAva.jpg" style="width:100%;" />
            <div class="container">
                <div class="carousel-caption text-center">
                    <h1>@Model.coolingCategory</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rectr" id="d2"></div>
<div class="row mt-5 mb-2">

    @{
        foreach (Cooling cool in Model.allcoolings)
        {

            <div id="box1" class="box" style="width: 300px">
                <img id="imagen" class="displayed" src="@cool.img" style="max-width:200px; display:block; margin: 0px auto" />
                <h4>@cool.name</h4>
                <h5>Тип: @cool.type </h5>
                <h5>Максимальний TDP: @cool.TDP W</h5>
                <p><a class="btn btn-warning" href="#">Добавити</a></p>
            </div>



        }

    }
</div>